[project]
	description = Mirror of the ChibiOS SVN repository (updated every 10 minutes)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tobiaskaestner
[access "refs/for/refs/*"]
	read = group user/tobiaskaestner
	push = group user/tobiaskaestner
	label-Code-Review = -2..+2 group user/tobiaskaestner
	label-Verified = -1..+1 group user/tobiaskaestner
	rebase = group user/tobiaskaestner
	removeReviewer = group user/tobiaskaestner
	submit = group user/tobiaskaestner
[access "refs/heads/*"]
	read = group user/tobiaskaestner
	create = group user/tobiaskaestner
	push = +force group user/tobiaskaestner
	pushMerge = group user/tobiaskaestner
[access "refs/tags/*"]
	push = +force group user/tobiaskaestner
	pushTag = group user/tobiaskaestner
	pushSignedTag = group user/tobiaskaestner
